---
Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
...

---
Style:
  QuotedHeaders: "demo/gdextension/.*"
  AngledHeaders: "godot_cpp/.*"

# FIXME: those disable or not-enable by godot-cpp
If:
  PathMatch: demo/.*

CompileFlags:
  Remove: [
    -Wno-ordered-compare-function-pointers,
    -Wno-unused-parameter,
    -Wnon-virtual-dtor
  ]
...

# FIXME: Hover doxygen    https://github.com/clangd/clangd/issues/529
